* {
    background-color: white;
}

section {
    text-align: center center;
}

h1 {
    color: darkgreen;
    text-align: center;
}

.gridAlan1 {}

.gridAlan2 {}

.container {
    display: grid;
    grid-template-areas: 'gridAlan1 gridAlan2';
    grid-template-rows: 480px 0px;
    grid-gap: 7px;
    background-color: #2196F3;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 70px;
    align-content: center;
    grid-template-columns: 920px;
}

.gridLogo {
    border: 3px;
    border-color: white;
    border-radius: 3px;
}

.gridYazi {
    margin-top: 0px;
}

.bulmacaMenu {
    position: absolute;
    background-color: #5b8eb8;
    color: white;
    border: 3px;
    padding: 4px;
    border-radius: 3px;
}

.BulmacaAlani {
    grid-template-areas: 'bulAlan1 bulAlan2 bulAlan3 ';
    grid-template-rows: 370px;
    grid-gap: 7px;
    background-color: #48bd1a;
    padding: 13px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 7px;
    align-content: center;
    grid-template-columns: 620px;
    display: grid;
}

#lorem1,
#lorem2,
#lorem0 {
    text-align: center;
}

#Kutular {
    width: 610px;
    height: 300px;
    border: 2px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    border-color: blue;
    text-align: center;
    margin: 3px;
}

#Kutular div {
    border: 2px solid chartreuse;
    width: 31px;
    height: 31px;
    margin: 1px;
    padding: 0px;
}